<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="static\style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Apontamento de horas</title>
</head>
<body>

<nav class="navbar navbar-inverse" style="background-color: rgb(100,34,36);">
<div class="container-fluid">
  <div class="navbar-header" >
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" style="background-color: rgb(100,34,36);"><img src="Logo_SPI_Sem_Fundo.png" style="width: 50px;"></a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="http://192.168.11.192:8080/main">Apontamento</a></li>
      <li class="active"><a href="#">Tabela</a></li>
      <li><a href="http://192.168.11.192:8080/projetos">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="\login" type="submit" method="post"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</div>
</nav>

<div class="container-fluid text-center">    
<div class="row content">
  <!--<div class="col-sm-2 sidenav">
    <p><a href="http://localhost:5000/">Site Server</a></p>
    <p><a href="#">Site mo legal</a></p>
    <p><a href="../google.com">Link</a></p>
  </div>-->
  <div  style="display:flex;justify-content: center;">
  <table border="1" style="width: 70%;margin: 10px;">
    <tr>
    <td>Nome</td>
    <td>PIC</td>
    <td>Atividade</td>
    <td>Data</td>
    <td>Hora inicio</td>
    <td>Hora fim</td>
  </tr>
  <% for (let i = 0; i < listaapontamento.length; i++) {%>
  <tr>
    <td><%= listaapontamento[i].ID_PESSOAL%></td>
    <td><%= listaapontamento[i].PIC%></td>
    <td><%= listaapontamento[i].ID_ATIVIDADE%></td>
    <td><%= listaapontamento[i].DIA%></td>
    <td><%= listaapontamento[i].HORA_INICIO%></td>
    <td><%= listaapontamento[i].HORA_FIM%></td>
  </tr>
  <%}%>
  <tr>

  </tr>
  </table>
</div>
</div>
</div>

</div>
</div>


<footer class="container-fluid bg-4 text-center">
<p></p>
</footer>
</body>
<body>



</body>
<style>
footer {
position: fixed;
height: 100px;
bottom: 0;
width: 100%;
}
.tamanho{
width: 200px; 
}
body{
min-height: 100vh;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
margin-bottom: 0;
border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
padding-top: 20px;
background-color: #f1f1f1;
height: 100%;
}

/* Set black background color, white text and some padding */
footer {
margin-top: auto;
background-color: rgb(100,34,46);
color: white;
padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
height: auto;
padding: 15px;
}
.row.content {height:auto;} 
}
table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}

</style>
<script>
function validateTimes() {
var time1 = document.getElementById("HORA_INICIO").value;
var time2 = document.getElementById("HORA_FIM").value;
if (time2 <= time1) {
  alert("O Horario final esta menor que a inicial");
  return false;
}
return true;
}
</script>
</html>

